* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
}
:root {
    --primary-color: #A0522D;
    --dark-brown: #5C4033;
}
body {
    font-family: Arial, sans-serif;
}
img {
    max-width: 100%;
    display: block;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #f3e8e2;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}
.main-header nav a {
    margin-left: 25px;
    text-decoration: none;
    font-weight: 500;
    color: var(--primary-color);
    position: relative;
    transition: 0.3s ease;
    border-bottom: 2px solid transparent;
}
.main-header nav a:hover {
     color: var(--dark-brown);
     border-bottom: 2px solid var(--dark-brown);
}
.logo h1 {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 22px;
}
.hero {
    margin-top: 30px;
    padding: 15px 30px;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-areas: 'hero-text hero-img';
    gap: 10px;
    
}
.hero-text {
    grid-area: hero-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.hero-img {
    grid-area: hero-img;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-text h2 {
    font-size: 36px;
    color: var(--primary-color);
    line-height: 1.2;
}
.hero-text p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.781);
}
.hero-text .btn {
    background-color: var(--primary-color);
    color: white;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    width: fit-content;
    transition: 0.3s ease;
}
.hero-text .btn:hover {
    background-color: var(--dark-brown);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.hero-img img {
    width: 100%;
    max-width: 400px;
    height: auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.services {
    padding: 60px 30px;
}
.services h2 {
    text-align: center;
    color: var(--primary-color);
    font-size: 32px;
}
.services .information p {
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.781);
}

.services .points {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 40px;
    text-align: center;
}
.services .points div {
    background: #f9f9f9;
    padding: 20px 25px;
    border-radius: 16px;
}
.services .points h3 {
    font-size: 24px;
    color: var(--primary-color);
}
.services .points p {
    font-size: 16px;
}
.services .points .point
 {
    transition: 0.3s ease;
}

.services .points .point:hover
 {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.about {
    padding: 60px 30px;
    text-align: center;
}
.about h2 {
    font-size: 32px;
    color: var(--primary-color);
}
.about p {
    font-size: 18px;
    max-width: 650px;
    margin: 0 auto 10px auto;
    color: rgba(0, 0, 0, 0.781);
}

.about .btn {
    margin-top: 10px;
    background-color: var(--primary-color);
    color: white;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    width: fit-content;
    transition: 0.3s ease;
}
.about .btn:hover {
    background-color: var(--dark-brown);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.cta {
    padding: 60px 30px;
    text-align: center;
}
.cta h2 {
    font-size: 32px;
    color: var(--primary-color);
}
.cta p {
     font-size: 18px;
    max-width: 650px;
    margin: 0 auto 10px auto;
    color: rgba(0, 0, 0, 0.781);
}
.cta .btn {
    margin-top: 10px;
    background-color: var(--primary-color);
    color: white;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    width: fit-content;
    transition: 0.3s ease;
}
.cta .btn:hover {
    background-color: var(--dark-brown);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.footer {
    padding: 60px 30px;
    text-align: center;
    background-color: #f3e8e2;;
}
.footer p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.781);
    
}
.footer .social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: 0.3s ease;
}
.footer .links {
     display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    margin: 20px auto 0 auto;
    padding: 0;
    
}
.footer .social-links a {
    color: #1877f2;            
    font-size: 20px;
    transition: 0.3s ease;
}

.footer .social-links a:hover {
    color: var(--dark-brown);
    transform: scale(1.1);  } 

.footer .links a {
    text-decoration: none;
    color: var(--primary-color);
}
.footer .links a:hover {
    color: var(--dark-brown);
    border-bottom: 2px solid var(--dark-brown);
}
.contact-info {
    max-width: 600px;
    margin: 60px auto;
    padding: 30px;
    background: #f9f9f9;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.contact-info h2 {
    text-align: center;
    margin-bottom: 25px;
    color: var(--primary-color);
}
.contact-info form {
    display: flex;
    flex-direction: column;
}
.contact-info label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 500;
}
.contact-info input,
.contact-info textarea {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    transition: 0.3s ease;
}
.contact-info input:focus,
.contact-info textarea:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.contact-info .btn {
    margin-top: 20px;
    align-self: center;
}
.response-section {
    text-align: center;
    margin-top: 30px;
    color: var(--dark-brown);
}
.page-intro {
    text-align: center;
    padding: 80px 20px;
    max-width: 800px;
    margin: auto;
}
.intro-text h2 {
    font-size: 36px;
    color: var(--primary-color);
    line-height: 1.2;
}
.intro-text p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.781);
}
.intro-text .btn {
    background-color: var(--primary-color);
    color: white;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    width: fit-content;
    transition: 0.3s ease;
}
.intro-text .btn:hover {
    background-color: var(--dark-brown);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
   .logo h1 {
    font-size: 20px;
   } 
   .main-header nav a {
    font-size: 15px;
   }
   .hero {
    padding: 15px 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "hero-text"
    "hero-img";
    gap: 10px;
    
}
   .hero-text h2 {
    font-size: 28px;
   }
   .hero-text p {
    font-size: 16px;
}
.hero-text .btn {
    padding: 10px 20px;
}
.hero-img img {
    max-width: 350px;
}
.services {
    padding: 50px 20px;
}
.services h2 {
    font-size: 28px;
}
.services .information p {
    font-size: 16px;
}
.services .information p {
    font-size: 16px;
}
.services .points {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.services .points .point-1 {
    padding: 15px 20px;
}
.services .points .point-2 {
    padding: 15px 20px;
}
.services .points .point-3 {
    padding: 15px 20px;
}
.services .points h3 {
    font-size: 22px;
}
.services .points p {
    font-size: 15px;
}
.about {
    padding: 50px 20px;
}
.about h2 {
    font-size: 28px;
}
.about p {
    font-size: 16px;
}
.about .btn {
    padding: 10px 20px;
}
.cta {
    padding: 50px 20px;
}
.cta h2 {
    font-size: 28px;
}
.cta p {
     font-size: 16px;
}
.cta .btn {
    padding: 10px 20px;
}
footer {
    padding: 50px 20px;
}
.footer p {
    font-size: 16px;
}
.footer .social-links a {           
    font-size: 18px;}
.response-section {
    font-size: 16px;
}
  .contact-info {
        margin: 40px 20px;
        padding: 25px;
    }

    .contact-info h2 {
        font-size: 22px;
    }

    .contact-info label {
        font-size: 16px;
    }

    .contact-info input,
    .contact-info textarea {
        font-size: 14px;
        padding: 10px;
    }

    .contact-info .btn {
        width: 100%;
        font-size: 16px;
        padding: 12px;}
    .page-intro {
        padding: 60px 20px;
    }

    .intro-text h2 {
        font-size: 28px;
    }

    .intro-text p {
        font-size: 16px;
    }

    .intro-text .btn {
        padding: 10px 22px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .logo h1 {
    font-size: 18px;
   } 
   .main-header nav a {
    font-size: 14px;
   }
   .hero {
    padding: 15px 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
  "hero-text"
  "hero-img";
    gap: 10px;
    
}
   .hero-text h2 {
    font-size: 24px;
   }
   .hero-text p {
    font-size: 14px;
}
.hero-text .btn {
    padding: 8px 18px;
}
.hero-img img {
    width: 100%;
    max-width: 300px;
}
.services {
    padding: 40px 15px;
}
.services h2 {
    font-size: 24px;
}
.services .information p {
    font-size: 14px;
}
.services .information p {
    font-size: 14px;
}
.services .points {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.services .points .point-1 {
    padding: 12px 15px;
}
.services .points .point-2 {
    padding: 12px 15px;
}
.services .points .point-3 {
    padding: 12px 15px;
}
.services .points h3 {
    font-size: 20px;
}
.services .points p {
    font-size: 14px;
}
.about {
    padding: 40px 15px;
}
.about h2 {
    font-size: 24px;
}
.about p {
    font-size: 14px;
}
.about .btn {
    padding: 8px 16px;
}
.cta {
    padding: 40px 15px;
}
.cta h2 {
    font-size: 24px;
}
.cta p {
     font-size: 14px;
}
.cta .btn {
    padding: 8px 16px;
}
footer {
    padding: 40px 15px;
}
.footer p {
    font-size: 14px;
}
.footer .social-links a {           
    font-size: 16px;} 
.response-section {
    font-size: 14px;
}  
  .contact-info {
        margin: 30px 15px;
        padding: 20px;
    }

    .contact-info h2 {
        font-size: 20px;
    }

    .contact-info label {
        font-size: 14px;
    }

    .contact-info input,
    .contact-info textarea {
        font-size: 13px;
        padding: 8px;
    }

    .contact-info .btn {
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }  
    .page-intro {
        padding: 40px 15px;
    }

    .intro-text h2 {
        font-size: 24px;
    }

    .intro-text p {
        font-size: 14px;
    }

    .intro-text .btn {
        padding: 8px 20px;
        font-size: 14px;
    }
}
